# =========================================================
# MPLAB X
# =========================================================

dist/
build/
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
nbproject/Package-*.bat

# =========================================================
# MPLAB generated
# =========================================================

*.cof
*.elf
*.hex
*.map
*.lst
*.o
*.obj
*.d
*.s
*.sym

# =========================================================
# MPLAB user settings
# =========================================================

*.mc3
*.mcp
*.settings/

# =========================================================
# OS
# =========================================================

Thumbs.db
.DS_Store

# =========================================================
# VS Code
# =========================================================

.vscode/

# =========================================================
# Logs
# =========================================================

*.log